{% extends 'base.html' %}

{% block content %}
<h1>Canvas Syllabus Scraper</h1>
<form method="POST">
    <div class="mb-3">
        <label for="course-url" class="form-label">Enter the URL for your course's syllabus page on
            Canvas:</label>
        <input type="text" name="course_url"
            placeholder="https://oregonstate.instructure.com/courses/1877222/assignments/syllabus"
            value="{{ request.form['course_url'] }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="tms" value="{{ request.form['tms'] }}" class="form-label">Choose a task management
            system:
        </label>
        <select name="tms" id="tms" select class="form-select" aria-label="Default select example">
            <option value="Todoist" selected>Todoist</option>
            <option value="Asana">Asana</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Scrape</button>
</form>
{% endblock %}